.page-header {
    background-color: brown;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
a {
    font-family: Agu Display;
    color: goldenrod;
}


.save {
    float: right;
}


.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: goldenrod;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}


.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #C25100;
}
