<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mock Lattle Lounge (For Pickup Only)</title>
    <link href="https://fonts.googleapis.com/css2?family=Agu+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <div class="west-head">
            <h1>Lattle Longue Ordering Online</h1>
        </div>
        <div class="east-head">
            <h2>The Easiest Part of Your Morning Routine</h2>
        </div>
    </div>
    <div class="order-nav">
        <a href="/menu">Place Order</a>
    </div>
</body>
</html>